In [2]:
import pandas as pd
import numpy as np

In [3]:
housing = pd.read_csv('Housing.csv')

In [4]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
price               545 non-null int64
area                545 non-null int64
bedrooms            545 non-null int64
bathrooms           545 non-null int64
stories             545 non-null int64
mainroad            545 non-null object
guestroom           545 non-null object
basement            545 non-null object
hotwaterheating     545 non-null object
airconditioning     545 non-null object
parking             545 non-null int64
prefarea            545 non-null object
furnishingstatus    545 non-null object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [6]:
housing['mainroad']=housing['mainroad'].map({'yes':1,'no':0})
housing['guestroom'] = housing['guestroom'].map({'yes': 1, 'no': 0})
housing['basement'] = housing['basement'].map({'yes': 1, 'no': 0})
housing['hotwaterheating'] = housing['hotwaterheating'].map({'yes': 1, 'no': 0})
housing['airconditioning'] = housing['airconditioning'].map({'yes': 1, 'no': 0})
housing['prefarea'] = housing['prefarea'].map({'yes': 1, 'no': 0})

In [7]:
status=pd.get_dummies('furnishingstatus',drop_first=True)

In [8]:
housing=pd.concat([housing,status],axis=1)

In [9]:
housing.drop(['furnishingstatus'],axis=1,inplace=True)

In [10]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,1,0,0,0,1,2,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0

In [11]:
housing['areaperbedroom'] = housing['area']/housing['bedrooms']

In [12]:
housing['bbratio']=housing['bathrooms']/housing['bedrooms']

In [13]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,areaperbedroom,bbratio
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1855.0,0.500000
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2240.0,1.000000
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,3320.0,0.666667
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1875.0,0.500000
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1855.0,0.250000

In [14]:
def normalise (x):
    return( (x-np.min(x)) / (max(x)-min(x)))


housing=housing.apply(normalise)

In [15]:
housing.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,areaperbedroom,bbratio
0,1.000000,0.396564,0.6,0.333333,0.666667,1.0,0.0,0.0,0.0,1.0,0.666667,1.0,0.237016,0.4
1,0.909091,0.502405,0.6,1.000000,1.000000,1.0,0.0,0.0,0.0,1.0,1.000000,0.0,0.298923,1.0
2,0.909091,0.571134,0.4,0.333333,0.333333,1.0,0.0,1.0,0.0,0.0,0.666667,1.0,0.472584,0.6
3,0.906061,0.402062,0.6,0.333333,0.333333,1.0,0.0,1.0,0.0,1.0,1.000000,1.0,0.240232,0.4
4,0.836364,0.396564,0.6,0.000000,0.333333,1.0,1.0,1.0,0.0,1.0,0.666667,0.0,0.237016,0.1

In [16]:
housing.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'areaperbedroom', 'bbratio'],
      dtype='object')

In [17]:
housing.drop(['mainroad'],axis=1,inplace=True)

In [18]:
# Putting feature variable to X
X = housing[['area', 'bedrooms', 'bathrooms', 'stories',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'areaperbedroom', 'bbratio']]

# Putting response variable to y
y = housing['price']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7 ,test_size = 0.3, random_state=100)

In [20]:
import statsmodels.api as sm          # Importing statsmodels
X_train = sm.add_constant(X_train)    # Adding a constant column to our dataframe
# create a first fitted model
lm_1 = sm.OLS(y_train,X_train).fit()

D:\python\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

In [21]:
print(lm_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.665
Model:                            OLS   Adj. R-squared:                  0.654
Method:                 Least Squares   F-statistic:                     60.75
Date:                Sun, 24 May 2020   Prob (F-statistic):           1.30e-79
Time:                        15:44:48   Log-Likelihood:                 371.92
No. Observations:                 381   AIC:                            -717.8
Df Residuals:                     368   BIC:                            -666.6
Df Model:                          12
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.0848      0.057      1.475      0.141      -0.028       0.198
area                0.5875      0.138      4.261      0.000       0.316       0.859
bedrooms           -0.0722      0.095     -0.757      0.449      -0.260       0.115
bathrooms           0.2594      0.130      1.997      0.047       0.004       0.515
stories             0.1150      0.020      5.866      0.000       0.076       0.154
guestroom           0.0269      0.014      1.909      0.057      -0.001       0.055
basement            0.0247      0.011      2.173      0.030       0.002       0.047
hotwaterheating     0.0896      0.022      4.036      0.000       0.046       0.133
airconditioning     0.0660      0.012      5.731      0.000       0.043       0.089
parking             0.0689      0.018      3.740      0.000       0.033       0.105
prefarea            0.0621      0.012      5.113      0.000       0.038       0.086
areaperbedroom     -0.2867      0.150     -1.905      0.058      -0.583       0.009
bbratio             0.0212      0.107      0.198      0.843      -0.189       0.232
==============================================================================
Omnibus:                       73.060   Durbin-Watson:                   2.093
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              233.405
Skew:                           0.849   Prob(JB):                     2.07e-51
Kurtosis:                       6.438   Cond. No.                         66.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
# UDF for calculating vif value
def vif_cal(input_data, dependent_col):
    vif_df = pd.DataFrame( columns = ['Var', 'Vif'])
    x_vars=input_data.drop([dependent_col], axis=1)
    xvar_names=x_vars.columns
    for i in range(0,xvar_names.shape[0]):
        y=x_vars[xvar_names[i]] 
        x=x_vars[xvar_names.drop(xvar_names[i])]
        rsq=sm.OLS(y,x).fit().rsquared  
        vif=round(1/(1-rsq),2)
        vif_df.loc[i] = [xvar_names[i], vif]
    return vif_df.sort_values(by = 'Vif', axis=0, ascending=False, inplace=False)

In [23]:
vif_cal(input_data=housing, dependent_col="price")

                Var    Vif
10   areaperbedroom  68.53
0              area  57.34
11          bbratio  25.35
2         bathrooms   9.64
1          bedrooms   7.79
3           stories   2.74
5          basement   2.03
8           parking   1.95
7   airconditioning   1.75
4         guestroom   1.49
9          prefarea   1.48
6   hotwaterheating   1.09

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
plt.figure(figsize = (16,10))     # Size of the figure
sns.heatmap(housing.corr(),annot = True)

In [ ]:
X_train=X_train.drop(['bbratio'],1)

In [ ]:
lm_2=sm.OLS(y_train,X_train).fit()

In [ ]:

print(lm_2.summary())

In [ ]:
vif_cal(input_data=housing.drop(["bbratio"], axis=1), dependent_col="price")

In [ ]:
X_train = X_train.drop('bedrooms', 1)

In [ ]:

lm_3 = sm.OLS(y_train,X_train).fit()

In [ ]:
print(lm_3.summary())

In [ ]:
vif_cal(input_data=housing.drop(["bedrooms","bbratio"], axis=1), dependent_col="price")

In [ ]:
X_train = X_train.drop('areaperbedroom', 1)

In [ ]:
lm_4 = sm.OLS(y_train,X_train).fit()

In [ ]:
print(lm_4.summary())

In [56]:
vif_cal(input_data=housing.drop(["bedrooms","bbratio","areaperbedroom"], axis=1), dependent_col="price")

               Var   Vif
0             area  3.03
2          stories  2.02
7          parking  1.93
4         basement  1.75
6  airconditioning  1.75
1        bathrooms  1.60
3        guestroom  1.47
8         prefarea  1.47
5  hotwaterheating  1.08

In [ ]:
X_train = X_train.drop('basement', 1)

In [ ]:
lm_5 = sm.OLS(y_train,X_train).fit()

In [ ]:
print(lm_5.summary())

In [61]:
vif_cal(input_data=housing.drop(["bedrooms","bbratio","areaperbedroom","basement"], axis=1), dependent_col="price")

               Var   Vif
0             area  2.93
2          stories  1.98
6          parking  1.92
5  airconditioning  1.75
1        bathrooms  1.58
7         prefarea  1.41
3        guestroom  1.28
4  hotwaterheating  1.07

In [ ]:
X_test_m6 = sm.add_constant(X_test)

In [ ]:
X_test_m6 = X_test_m6.drop(["bedrooms","bbratio","areaperbedroom","basement"], axis=1)

In [ ]:
y_pred_m6 = lm_5.predict(X_test_m6)

In [ ]:
c = [i for i in range(1,165,1)]
fig = plt.figure()
plt.plot(c,y_test, color="blue", linewidth=2.5, linestyle="-")     #Plotting Actual
plt.plot(c,y_pred_m6, color="red",  linewidth=2.5, linestyle="-")  #Plotting predicted
fig.suptitle('Actual and Predicted', fontsize=20)              # Plot heading 
plt.xlabel('Index', fontsize=18)                               # X-label
plt.ylabel('Housing Price', fontsize=16)                       # Y-label

In [ ]:
fig = plt.figure()
plt.scatter(y_test,y_pred_m6)
fig.suptitle('y_test vs y_pred', fontsize=20)              # Plot heading 
plt.xlabel('y_test', fontsize=18)                          # X-label
plt.ylabel('y_pred', fontsize=16)                          # Y-label

In [ ]:
# Error terms
fig = plt.figure()
c = [i for i in range(1,165,1)]
plt.plot(c,y_test-y_pred_m6, color="blue", linewidth=2.5, linestyle="-")
fig.suptitle('Error Terms', fontsize=20)              # Plot heading 
plt.xlabel('Index', fontsize=18)                      # X-label
plt.ylabel('ytest-ypred', fontsize=16)                # Y-label

In [ ]:
# Plotting the error terms to understand the distribution.
fig = plt.figure()
sns.distplot((y_test-y_pred_m6),bins=50)
fig.suptitle('Error Terms', fontsize=20)                  # Plot heading 
plt.xlabel('y_test-y_pred', fontsize=18)                  # X-label
plt.ylabel('Index', fontsize=16)                          # Y-label

In [ ]:
import numpy as np
from sklearn import metrics
print('RMSE :', np.sqrt(metrics.mean_squared_error(y_test, y_pred_m6)))